:root {
  /* Colors */
  /* Primary */

  --color-brightorange: hsl(31, 77%, 52%);
  --color-darkcyan: hsl(184, 100%, 22%);
  --color-verydarkcyan: hsl(179, 100%, 13%);

  /* Neutral */
  /* (paragraphs) */
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --color-verylightgray: hsl(0, 0%, 95%);

  /* font */
  --ff-lexend: "Lexend Deca", sans-serif;
  --ff-bigshoulders: "Big Shoulders Display", cursive;
  --fw-bold: 700;
  --fw-regular: 400;
}
/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Josh Comeau's css reset */
/* 1. Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin*/
* {
  margin: 0;
}
/*  3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}
/*  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*  6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*  7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/*  8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*  9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* style */
body {
  font-size: 15px;
  font-family: var(--ff-lexend);
  font-weight: var(--fw-regular);
  color: var(--color-verylightgray);
}

main {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.card-deck {
  border-radius: 0.75em;
  background-color: var(--color-verylightgray);
  overflow: hidden;
}

.card-body {
  padding: 3em;
  display: grid;
  grid-template-rows: 10% 20% 50% 20%;
}

.card-img {
  height: 45px;
  width: 70px;
}

.card-heading {
  padding: 0.625em 0;
  color: var(--color-verylightgray);
  font-family: var(--ff-bigshoulders);
  font-size: 2.625rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.card-text {
  color: var(--color-transparent-white);
  line-height: 1.75;
  font: 1.173rem;
  margin-bottom: 2em;
}

.card-1 {
  background-color: var(--color-brightorange);
}

.card-2 {
  background-color: var(--color-darkcyan);
}

.card-3 {
  background-color: var(--color-verydarkcyan);
}

button {
  background-color: var(--color-verylightgray);
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  margin: 1.75em 0;
  margin-bottom: 0.25em;
  padding: 0.75rem 2em;
}

button:hover {
  background-color: hsla(0, 0%, 0%, 0);
  color: var(--color-verylightgray);
  border: var(--color-verylightgray) 2px solid;
}

.btn-1 {
  color: var(--color-brightorange);
}

.btn-2 {
  color: var(--color-darkcyan);
}

.btn-3 {
  color: var(--color-verydarkcyan);
}

@media (min-width: 750px) {
  .card-deck {
    display: flex;
    max-width: 900px;
  }
}

@media screen and (max-width: 400px) {
  main {
    padding: 0;
    margin: 0;
  }
  .card-deck {
    border-radius: 0 !important;
  }
}
